/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2014, 8:28:14 PM
    Author     : Losses
*/
/* line 20, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000320}}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 0.2s ease-in-out;
}
/* line 27, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000327}}
.clear {
  clear: both;
}
/* line 31, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000331}}
body {
  font-family: "microsoft yahei", sans-serif;
}
/* line 35, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000335}}
header {
  color: white;
  padding-bottom: 20%;
  background: #3F51B5;
  position: relative;
}
/* line 40, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000340}}
header h1 {
  left: 100px;
  bottom: 40px;
  font: 60px/120px sans-serif;
  position: absolute;
}
/* line 48, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000348}}
#go_main {
  width: 65px;
  height: 65px;
  background: #ffffff url(../img/down.svg) no-repeat;
  background-size: 100%;
  border-radius: 50%;
  margin: -32px 0 0 100px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
}
/* line 60, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000360}}
#go_main:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
/* line 65, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000365}}
#body_warp {
  width: calc( 100% -  100px  );
  width: -moz-calc( 100% -  100px  );
  width: -webkit-calc( 100% -  100px  );
  margin: 0 auto;
}
/* line 72, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000372}}
#mycard_description {
  color: gray;
  margin: 60px 25% 60px 0;
  font: 20px/38px "microsoft yahei", sans-serif;
}
/* line 78, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000378}}
#main {
  font-size: 0;
  display: block;
}
/* line 82, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000382}}
#main li {
  margin: 2px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
/* line 90, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000390}}
#main li > img {
  width: 100%;
}
/* line 93, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\0000393}}
#main li > .content_box {
  left: 10px;
  bottom: 10px;
  color: white;
  font-size: 28px;
  position: absolute;
}
/* line 102, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003102}}
#main li:hover {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
/* line 107, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003107}}
#main .r1p3 {
  width: calc(( 100% -  12px  ) / 3 );
  width: -moz-calc(( 100% -  12px  ) / 3 );
  width: -webkit-calc(( 100% -  12px  ) / 3 );
}
/* line 113, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003113}}
#main .r2p3 {
  width: calc(( 100% -  12px  ) / 3 * 2 + 4px );
  width: -moz-calc(( 100% -  12px  ) / 3 * 2 + 4px );
  width: -webkit-calc(( 100% -  12px  ) / 3 * 2 + 4px );
}
/* line 120, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003120}}
footer {
  margin: 234px 0 14px 0;
  padding: 14px;
  border-top: 1px solid #bcbcbc;
  color: gray;
  font-size: 12px;
}
/* line 126, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003126}}
footer ul {
  float: left;
  width: 50%;
}
/* line 129, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003129}}
footer ul li {
  margin-right: 15px;
  display: inline-block;
}
/* line 134, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003134}}
footer a:link {
  color: #3F51B5;
  text-decoration: none;
}
/* line 138, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003138}}
footer a:visited {
  color: #3F51B5;
}
/* line 141, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003141}}
footer a:hover {
  color: #0e218b;
}
/* line 144, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003144}}
footer #lang {
  position: relative;
  float: right;
}
/* line 147, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003147}}
footer #lang ul {
  right: 0;
  bottom: 0;
  width: 110px;
  height: 0;
  border: 1px solid #bcbcbc;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  float: none;
  position: absolute;
  overflow: hidden;
  z-index: 101;
}
/* line 159, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003159}}
footer #lang ul li {
  width: calc( 100% - 20px );
  width: -moz-calc( 100% - 20px );
  width: -webkit-calc( 100% - 20px );
  transition: all 0.1s ease-in-out;
  padding: 5px 10px;
  display: block;
}
/* line 167, F:\Production\github\google_design_simple\css\index.less */
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003167}}
footer #lang ul li:hover {
  background: #deedf1;
}
@media screen and (max-width: 950px) {
  /* line 175, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003175}}
  header {
    padding-bottom: 30%;
  }
  /* line 178, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003178}}
  #go_main {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 100px;
  }
  /* line 183, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003183}}
  #mycard_description {
    margin: 60px 20% 60px 0;
    font: 18px/33px "microsoft yahei", sans-serif;
  }
  /* line 187, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003187}}
  footer {
    margin-top: 150px;
  }
}
@media screen and (max-width: 780px) {
  /* line 191, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003191}}
  header > h1 {
    font: 40px/80px "microsoft yahei", sans-serif;
  }
  /* line 194, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003194}}
  #go_main {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 100px;
  }
  /* line 199, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003199}}
  #mycard_description {
    margin: 60px 18% 60px 0;
    font: 16px/30px "microsoft yahei", sans-serif;
  }
  /* line 203, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003203}}
  footer {
    margin-top: 100px;
  }
}
@media screen and (max-width: 660px) {
  /* line 207, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003207}}
  #main li > .content_box {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  /* line 211, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003211}}
  #mycard_description {
    margin: 40px 0 40px 0;
    font: 16px/30px "microsoft yahei", sans-serif;
  }
  /* line 215, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003215}}
  header {
    padding-bottom: 40%;
  }
  /* line 217, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003217}}
  header > h1 {
    font: 30px/60px "microsoft yahei", sans-serif;
  }
  /* line 221, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003221}}
  #main li > .content_box {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  /* line 225, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003225}}
  #mycard_description {
    margin: 30px 0 30px 0;
    font: 13px/28px "microsoft yahei", sans-serif;
  }
  /* line 229, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003229}}
  #main li > .content_box {
    bottom: 4px;
    font-size: 12px;
  }
  /* line 233, F:\Production\github\google_design_simple\css\index.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/F\:\/Production\/github\/google_design_simple\/css\/index\.less}line{font-family:\00003233}}
  footer {
    margin-top: 50px;
  }
}
